table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

.grid-container-numpad {
    display: grid;
    gap: 10px 10px;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 300px;
}

.grid-container-numpad > button {
    text-align: center;
}

.grid-container-pins {
    display: grid;
    gap: 10px 10px;
    grid-template-columns: 1fr 1fr 1f;
    max-width: 300px;
}

.grid-container-pins > button {
    text-align: centre;
}

.enter {
    grid-column: 2 / 4;
}

.button-depressed {
    background-color: aqua;
}

.input-number {
    width: 40px;
}



